// Place all the styles related to the order_consolidations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    font-size: 15px;
    h1{
        font-size: 1.6em;
    }
    h2{
        font-size: 1.4em;
    }
    h3{
        font-size: 1em;
        text-transform: uppercase;
        margin-top: 40px;
    }
}
#customers{
    li{
        list-style-type: none;
    }
    >li{
        border-bottom: 1px solid;
        padding: 20px 0px;
        h4{
          margin-bottom: 5px;  
        }
        p.status{
            margin: 0px 0px 5px 0px;
        }
        ul.sales_orders{
            padding-left: 0px;
        }
        table{
            th,td{
                padding-right: 20px;
            }
        }
    }
}

